.gezilecekyerler{
    background: rgba(255, 255, 255, 0.745);
    margin-left: 1px;
    margin-right: 1px;
    
}

.tanitim{
    background: rgba(255, 255, 255, 0.732);
    
}

body{
    background:url(/foto/arkaplan2.jpg);
}
