body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: yellow;
    color: darkblue;
    padding: 20px;
    text-align: center;
}

.emblembanner {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    max-height: 40px;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.photo-gallery img {
    max-width: 700px;
    margin: 20px;
}

.kadro img {
    max-width: 500px;
    margin: 30px;
}

.kadro{
    float:left;
}



h2 {
    color:darkblue;
    font-size: 24px;
    margin-top: 20px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}
